<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yzeng.myhoustersclone">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui_and_other.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".signup.SignupActivity" />
        <activity android:name=".homepage.HomePageActivity" />
        <activity android:name=".homepage.AlertsActivity" />
        <activity android:name=".homepage.PropertiesActivity" />
        <activity android:name=".tenant.TenantsActivity" />
        <activity android:name=".forgotpassword.ForgotPasswordActivity" />
        <activity android:name=".Document.DocumentsActivity" >

        </activity>
        <activity android:name=".TodoList.TodoListActivity">

        </activity>

    </application>

</manifest>